.aboutsk {
	padding-top: 90px;
	background-image: url("/sbs-html/images/about_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-content: center;
	place-items: center;
	color: $secondary-txt-color;

	@include sm-mediaquery {
		padding: 90px 15px 0;
		grid-template-columns: 1fr;
		gap: 2em;
	}

	.aboutsk__item1 {
		width: 65%;

		@include sm-mediaquery {
			width: 100%;
		}

		.aboutsk__Ltxt {
			@include subHdLtxt;
			color: $secondary-txt-color;
			width: 30%;
		}
		.about__Mtxt {
			@include subHdMtxt;
			padding-bottom: $txt-sm-pb;
		}
		.about__Smtxt {
			@include smTxt;
			color: $secondary-txt-color;
		}
	}
	.aboutsk__item2 {
		width: 85%;

		.aboutsk__img1 {
			width: 100%;
		}
	}
}
