.footer {
	padding-top: $footer-py;
	display: flex;
	justify-content: center;
	align-items: center;

	.footer__Ltxt {
		font-size: 30px;
		font-weight: 700;
		color: $primary-txt-color;
		padding-bottom: $footerBtxt-pb;
		text-transform: capitalize;
	}

	.footer__item1 {
		padding: 0 15px;

		.footer__iconCon {
			display: flex;
			align-items: center;
			gap: 1em;
			padding-bottom: 22px;

			.footer__icon {
				font-size: 20px;
				color: $secondarybg-color;
			}
			.footer__Smtxt {
				@include subHdMtxt;
				padding-top: 0;
				font-size: 17px;
				text-transform: capitalize;
			}
		}
	}

	.footer__item2 {
		border-left: 1px solid $basicBg-color;
		padding-left: $footerCon-sm-pl;

		.footer__newsCon {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			gap: 1em;

			.footer__inpt {
				padding: 10px 5px;
				border-radius: 10px;
				border: 1px solid $primary-txt-color;
				font-size: 17px;
				font-weight: 500;
			}

			.footer__btn {
				font-size: 17px;
				text-transform: capitalize;
				font-weight: 500;
				padding: 12px 60px;
				color: $primarybg-color;
				background: $basicBg-color;
				border-radius: 10px;
        cursor: pointer;
			}
		}

		.footer__usLink {
      display: flex;
      gap: 6em;

			.footer__linkCon {
				display: flex;
				align-items: center;
				gap: 2em;

        .footer__links{
          font-size: 17px;
          text-transform: capitalize;
          color: $primary-txt-color;
          transition: all .5s linear;

          &:hover{
            color: $secondarybg-color;
          }
        }
			}

      .footer__social{
        display: flex;
        align-items: center;
        padding-bottom: $footerBtxt-pb;
        gap: 6px;

        .social__con{
          height: 40px;
          width: 40px;
          border-radius: 50px;
          background: $primary-txt-color;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          color: $secondary-txt-color;
          cursor: pointer;
          transition: all .5s linear;

          &:hover{
            background: $secondarybg-color;
          }
        }
      }
		}
	}
}

.copy{
  margin-top: 90px;
  padding: $footerCopy-py;
  text-align: center;
  background: $basicBg-color;

  .copy__txt{
    @include subHdMtxt;
    font-size: 17px;
    color: $secondary-txt-color

  }
}
