@mixin sm-mediaquery() {
	@media (width <= 767px) {
		@content;
	}
}
@mixin md-mediaquery() {
	@media (767px < width <= 1023px) {
		@content;
	}
}
/* ------------------------------ readmore-txt ------------------------------ */
@mixin smTxt {
	font-size: $font-sm;
	text-transform: uppercase;
	font-weight: $fontW-xxl;
	cursor: pointer;
	width: 60%;
	color: $primary-txt-color;

	&:hover {
		color: $basicBg-color;
	}

	&::after {
		content: " ";
		height: 2px;
		width: 0px;
		border-radius: 20px;
		display: inline-block;
		background: $basicBg-color;
	}
	&:hover::after {
		animation: smBar 0.5s ease;
		width: 100px;
	}
}
@keyframes smBar {
	0% {
		width: 0px;
	}
	100% {
		width: 100px;
	}
}
/* ------------------------------- ctrButtons ------------------------------- */
@mixin ctrbtn {
	height: 70px;
	width: 70px;
	background-color: $secondarybg-color;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	font-size: $font-l;
	color: $secondary-txt-color;
	cursor: pointer;
	transition: $normal-trn;

	&:hover {
		background: $basicBg-color;
	}
}
/* ------------------------------ sub-headings ------------------------------ */
@mixin subHdLtxt {
	font-size: $font-xl;
	text-transform: capitalize;
	padding-bottom: $subheadLtxt-pb;
	color: $primary-txt-color;
}
@mixin subHdMtxt {
	font-size: $font-sm;
	padding-top: 15px;
	line-height: 30px;
}
