.nav {
	display: flex;
	justify-content: space-between;
	padding: $navCon-p;

	@include sm-mediaquery {
		padding: 27px 5px;
		border-bottom: 2px solid $primary-txt-color;
	}

	.logocon {
		display: flex;
		align-items: center;
		@include sm-mediaquery {
			width: 100%;
			justify-content: space-between;
		}

		.harmburger {
			cursor: pointer;
			display: none;
			transition: .5s linear;

			@include sm-mediaquery{
				display: block;
			}

			.bars {
				height: 4px;
				width: 30px;
				border-radius: 20px;
				background: $primary-txt-color;
				display: block;
				margin-bottom: 4px;
			}
		}
	}

	.nav__linkcon {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2em;
		transition: all 0.5s linear;

		.nav__links {
			font-size: $font-sm;
			text-transform: capitalize;
			color: $primary-txt-color;
			padding: $navLinks-p;
			border-radius: 50px;
			transition: 0.4s ease-in;

			@include sm-mediaquery {
				color: $secondary-txt-color;
				width: 100%;
			}

			&:hover {
				background-color: $basicBg-color;
				color: $secondary-txt-color;

				@include sm-mediaquery {
					background-color: transparent;
				}
			}
		}
	}

	.nav__icons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5em;
		@include sm-mediaquery {
			display: none;
		}

		.nav__iconCon {
			font-size: $font-l;
		}
	}
}
@media (width <= 768px) {

	.harmburger.tog .bars:nth-child(2) {
			opacity: 0;
		}
		.harmburger.tog .bars:nth-child(1) {
			transform: translateY(8px) rotate(45deg);
		}
		.harmburger.tog .bars:nth-child(3) {
			transform: translateY(-9px) rotate(-45deg);
		}

	.nav__linkcon {
		position: absolute;
		flex-direction: column;
		background: $primary-txt-color;
		padding: 20px;
		width: 100%;
		left: 100em;
		top: 6.8em;
	}

	.active{
		left: 0em;
	}
}
